<!DOCTYPE html>
<html>
<head>
	
</head>
<body>

	<% @results.each do |item| %>
<div>
	<image src="<%= item.image%>"></image>
	<h1>Title: <%= item.name%> </h1>	
	<p>Author: <%= item.brand%>  </p>
	<b> Price: US <%= item.price%> </b>
	<p>ASIN: <%= item.asin%> </p>

	<a href="/want?book_id=<%= item.id %>" class="btn btn-primary"> Want</a>

	<a href="/have?book_id=<%= item.id %>" class="btn btn-primary"> Sell</a>
</div>
	
	
	

	



	<%end%>

</body>
</html>