<!DOCTYPE html>
<html>
<head>
	
</head>
<body>

	

	
	
	

	<div class="row">

		<br><br><br>

		<% @results.each do |item| %>

          <div class="col-lg-4">
            <img class="rounded-circle" src="<%=item.image%>" alt="Sorry no image available" width="140" height="140">

            <h2> <%= item.name%></h2>
            <p><%= item.brand %></p>
            <a href="/want?book_id=<%= item.id %>" class="btn btn-primary" id="shop"> Want</a>
			<a href="/have?book_id=<%= item.id %>" class="btn btn-primary" id="shop"> Sell</a>
            
          </div>

          <%end%>
    </div>






	

</body>
</html>