<!DOCTYPE html>
<html>
<head>
	
</head>
<body>

	<h1>Hello welcome back - <%= current_user.email %></h1>
	<br><br>

	<center><h2>Books you want to buy</h2></center>


<%if @wants.count != 0 %>
 

<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Book ID#</th>
      <th scope="col">Book</th>
      <th scope="col">Author</th>
      <th scope="col">ASIN</th>
    </tr>
  </thead>
  <% @wants.each do |w| %>
  <tbody>
	 <tr>
      <th scope="row"><%=w.book.id%></th>
      <td><%= w.book.name %></td>
      <td><%= w.book.brand %></td>
      <td><%= w.book.asin %></td>
    </tr>
  </tbody>
  <%end%>
</table>


	<%else%>
		<p>Currently you are not buying anybooks</p>

<%end%>







	
	<a href="/search">Search to buy</a>




	<center><h2>Books you want to sell</h2></center>
	<%if @haves.count != 0 %>

	<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Book ID#</th>
      <th scope="col">Book</th>
      <th scope="col">Author</th>
      <th scope="col">ASIN</th>
    </tr>
  </thead>
  <% @haves.each do |h| %>
  <tbody>
	 <tr>
      <th scope="row"><%=h.book.id%></th>
      <td><%= h.book.name %></td>
      <td><%= h.book.brand %></td>
      <td><%= h.book.asin %></td>
    </tr>
  </tbody>
  <%end%>
</table>


	<%else%>
		<p>Currently you are not selling anybooks</p>

<%end%>


	<a href="/search">Search to sell</a>
	<br><br>


</body>
</html>