<p id="notice"><%= notice %></p>

<p>
  <strong>Brand:</strong>
  <%= @book.brand %>
</p>

<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @book.price %>
</p>

<p>
  <strong>Url:</strong>
  <%= @book.url %>
</p>

<p>
  <strong>Image:</strong>
  <%= @book.image %>
</p>

<p>
  <strong>Asin:</strong>
  <%= @book.asin %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
