<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Subtitle:</strong>
  <%= @book.subtitle %>
</p>

<p>
  <strong>Authors:</strong>
  <%= @book.authors %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @book.publisher %>
</p>

<p>
  <strong>Publishdate:</strong>
  <%= @book.publishDate %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>Isbn10:</strong>
  <%= @book.isbn10 %>
</p>

<p>
  <strong>Isbn13:</strong>
  <%= @book.isbn13 %>
</p>

<p>
  <strong>Image:</strong>
  <%= @book.image %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
